* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.bg-cream {
  background-color: #cab9b2;
}
body {
  background-color: #afa39e;
}
.wrapper {
  width: 100%;
  clip-path: polygon(0 0, 0 93%, 75% 100%, 100% 93%, 100% 0);
}
.wrapper-top {
  width: 100%;
}
.block-caption {
  margin-top: 100px;
  font-size: 50px;
}
.block-caption .red-text {
  color: #002560;
}
.block-description {
  margin: 20px auto;
  color: #4c4c4c;
  font-size: 20px;
}
.container-fluid {
  max-width: 1200px;
}
header {
  width: 100%;
  min-height: 100vh;
  padding: 3% 5%;
  background: rgba(0, 0, 0, 0.8) url("../img/table-bg.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  clip-path: polygon(0 0, 0 93%, 75% 100%, 100% 93%, 100% 0);
  color: white;
}
header .logo {
  min-height: 100px;
  background: url("../img/logo_white.png") center no-repeat;
  background-size: cover;
}
header .nav-block {
  text-align: right;
}
header .nav-block .nav-block__list {
  list-style: none;
  display: block;
  float: right;
  line-height: 500%;
  height: 100%;
  margin: 0;
}
header .nav-block .nav-block__list li {
  display: inline;
  font-size: 23px;
}
header .nav-block .nav-block__list li a {
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all 0.6s ease;
  margin-right: 1em;
}
header .nav-block .nav-block__list li a:hover {
  color: #002560;
  transition: all 0.6s ease;
}
header .nav-icon {
  text-align: right;
  line-height: 500%;
}
header .toggle-menu {
  background-color: black;
  position: absolute;
  display: none;
  top: 12%;
  left: 5%;
  width: 90%;
}
header .toggle-menu .toggle-menu__list {
  list-style: none;
  text-align: center;
}
header .toggle-menu .toggle-menu__list li {
  padding: 10px;
  font-size: 30px;
}
header .toggle-menu .toggle-menu__list li a {
  color: white;
  text-decoration: none;
  transition: all 0.6s ease;
}
header .toggle-menu .toggle-menu__list li a:hover {
  color: #002560;
  transition: all 0.6s ease;
}
header .caption {
  margin-top: 15vh;
  font-size: 45px;
  margin-bottom: 20px;
}
header .caption h1 {
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
header .description {
  font-size: 20px;
}
header .cta {
  position: relative;
  width: 300px;
  padding: 19px 22px;
  margin: auto;
  transition: all 0.6s ease;
  cursor: pointer;
}
header .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(150, 150, 150, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.6s ease;
}
header .cta span {
  position: relative;
  font-size: 16px;
  top: -4px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
header .cta svg {
  position: relative;
  top: -4px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.6s ease;
}
header .cta:hover:before {
  width: 100%;
  background: whitesmoke;
}
header .cta:hover {
  color: black;
}
header .cta:hover svg {
  transform: translateX(0);
  stroke: black;
}
header .cta:active {
  transform: scale(0.96);
}
.service {
  background-color: #cab9b2;
  clip-path: polygon(0 0, 0 95%, 75% 100%, 100% 95%, 100% 0);
  padding-bottom: 150px;
}
.service .prices__wrapper {
  padding: 15px;
}
.service .prices__wrapper .prices__item {
  background-color: #afa39e;
  min-height: 321px;
  position: relative;
}
.service .prices__wrapper .prices__item * {
  position: static;
}
.service .prices__wrapper .prices__item .prices__caption {
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  border-top: 1px solid #002560;
  border-bottom: 1px solid #002560;
}
.service .prices__wrapper .prices__item .prices__list {
  padding: 10px;
  list-style: none;
  font-size: 18px;
}
.service .prices__wrapper .prices__item .prices__bottom {
  border-bottom: 1px solid #002560;
  border-top: 1px solid #002560;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.service .prices__wrapper .prices__item .prices__bottom .prices__button {
  color: #f7f7f7;
  background-color: #002560;
  border: 1px solid #002560;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 22px;
  font-weight: bold;
  margin: 16px;
  transition: all 0.6s ease;
}
.service .prices__wrapper .prices__item .prices__bottom .prices__button:hover {
  color: #002560;
  background-color: #d1d1d1;
  transition: all 0.6s ease;
}
.slider .slide {
  height: 300px;
}
.slider .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slick-dots {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
.slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #d1d1d1;
  border: 1px solid #002560;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #002560;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #002560;
}
.slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.slick-dots li button {
  width: 15px;
  height: 15px;
  background: transparent;
  color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.about {
  width: 100%;
  height: 100px;
  background: #cab9b2;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 0.6s ease;
}
.about:hover {
  color: white;
  background-color: black;
  transition: all 0.6s ease;
}
.prices {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 25% 7%);
  min-height: 80vh;
  position: relative;
  bottom: -5vh;
  padding-bottom: 5vh;
}
.working {
  width: 100%;
  padding-bottom: 100px;
  z-index: 2;
  clip-path: polygon(0 7%, 0 93%, 25% 100%, 100% 93%, 100% 93%, 100% 7%, 75% 0);
  background: black url("../img/candle.gif") right no-repeat;
  background-position-x: calc(100% - 300px);
}
.working .working__point {
  font-size: 30px;
  margin-top: 35px;
}
.working .working__point i {
  font-size: 38px;
  float: left;
}
.working .working__point .working__point__text {
  margin-left: 50px;
  width: 475px;
}
.feedback form {
  margin-top: 30px;
}
.feedback form .input {
  border: none;
  background-color: #cab9b2;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}
.feedback form .input::placeholder {
  color: black;
  font-weight: bold;
}
.feedback form .input:focus::placeholder {
  color: transparent;
}
.feedback form .small-input {
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
}
.feedback form textarea {
  display: block;
  width: 100%;
  height: 115px;
}
.feedback form .submit {
  color: #f7f7f7;
  background-color: #002560;
  border: 1px solid #002560;
  padding: 10px 30px;
  float: right;
  cursor: pointer;
  border-radius: 22px;
  font-weight: bold;
  transition: all 0.6s ease;
}
.feedback form .submit:hover {
  color: #002560;
  background-color: white;
  transition: all 0.6s ease;
}
.feedback .contacts {
  padding-top: 30px;
}
.feedback .feedback__item {
  margin-top: 20px;
  clear: both;
}
.feedback .feedback__item .contact__icon {
  color: #002560;
  float: left;
  font-size: 40px;
  width: 50px;
}
.feedback .feedback__item .feedback__item__cont {
  margin-left: 60px;
  padding-top: 10px;
  font-size: 25px;
}
footer {
  margin-top: 100px;
  background-color: black;
  clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 15%, 35% 0%);
  min-height: 30vh;
  padding-top: 100px;
}
footer .logo {
  min-height: 150px;
  background: url("../img/logo_white.png") center no-repeat;
  background-size: cover;
}
footer i {
  font-size: 35px;
  margin: 15px;
  cursor: pointer;
  transition: all 0.6s ease;
}
footer i:hover {
  color: #002560;
  transition: all 0.6s ease;
}
.layout {
  top: 0;
  right: 0;
  padding: 5%;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
}
.layout .table-bg {
  background-color: #cab9b2;
  padding: 2% 5%;
}
.layout .table-bg table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #002560;
  margin-top: 15px;
}
.layout .table-bg table .eat-group {
  width: 100%;
}
.layout .table-bg table .eat-name {
  width: 90%;
  padding: 5px;
}
.layout .table-bg table .eat-weight {
  width: 10%;
  padding: 5px;
  min-width: 60px;
}
.prices .block-caption {
  margin-top: 200px;
}
@media only screen and (max-width: 1600px) {
  .working {
    background-position-x: calc(100% - 150px);
  }
}
@media only screen and (max-width: 1270px) {
  .working {
    background-position-x: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .working {
    background: black;
  }
  .working .working__point__text {
    width: auto !important;
  }
}
@media only screen and (max-width: 700px) {
  .caption {
    margin-top: 0 !important;
  }
}
@media only screen and (max-height: 670px) {
  .caption {
    margin-top: 0 !important;
  }
}
